.episodes-list {
    width: 100%; /* Ancho de la lista */
  }
  
  .episode-item {
    width: 90%; /* Ancho del elemento de episodio */
    margin: 0 auto; /* Centrar horizontalmente los elementos de episodio */
  }