<ion-header [translucent]="true">
  <ion-toolbar color="secundary">
    <ion-title class="ion-text-center">Welcome to see how to connect the Rick and Morty API with my APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <img src="assets/logo.jpg" alt="App Logo" class="logo" />
    <ion-button expand="block" color="primary" routerLink="/userslist">
      Explore Users
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
